@{
    ViewData["Title"] = "LGH Tratamientos Faciales ";
}

<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderTratamientosFacial")
  
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textbodysecondtext">
                <h3>Tratamientos Faciales</h3>
            </div>
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>El dermapen es un dispositivo que usa microagujas para estimular el colágeno y mejorar la piel...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Microdermoabrasión</h6>
                        <p>Microdermoabrasión con punta de diamante: tratamiento facial no invasivo que exfolia suavemente la piel, mejorando textura, tono y luminosidad.</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
               </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Facial</h6>
                        <p>Radiofrecuencia Facial: tratamiento no invasivo que estimula el colágeno, reafirma la piel y reduce arrugas...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
               </div>
            </div>
        </div>
    </div>
 </div>
    <div class="content">
        @await Html.PartialAsync("_HeaderSpanish")
        <div class="mainpagepc">
            <div class="textbodysecondtext">
                <h1>Tratamientos Faciales</h1>
            </div>

        <div class="mainbox">
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>El dermapen es un dispositivo que usa microagujas para estimular el colágeno y mejorar la piel...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Microdermoabrasión</h6>
                        <p>Microdermoabrasión con punta de diamante: tratamiento facial no invasivo que exfolia suavemente la piel, mejorando textura, tono y luminosidad.</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Facial</h6>
                        <p>Radiofrecuencia Facial: tratamiento no invasivo que estimula el colágeno, reafirma la piel y reduce arrugas...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
 </div>

@await Html.PartialAsync("_Footer")
   

