@{
    ViewData["Title"] = "LGH Tratamientos Corporales ";
}

    <div class="content contentmobilhome">

        @await Html.PartialAsync("_HeaderTratamientosFacial")
    
        <div class="mainmainbox">
            
            <div class="mainbox">
            <div class="textbodysecondtext">
                <h4>Microdermoabrasión con Punta de Diamante – </h4>
                <h5>Exfoliación y Rejuvenecimiento de la Piel</h5>
            </div>
                <div class="imgcavitspain">
                    <img src="~/images/Microdermoabr.jpeg" class="imgmicromainpic" alt="Alternate Text" />
                    <h6>¿Qué es la Microdermoabrasión con Punta de Diamante?</h6>
                    <p>
                        La microdermoabrasión con punta de diamante es un tratamiento estético de exfoliación profunda que utiliza una punta de diamante para eliminar las células muertas de la piel, mejorar la textura y revitalizar el cutis. Este procedimiento no invasivo permite que la piel respire de nuevo y se vea más suave, fresca y luminosa, sin tiempo de inactividad.
                        A través de un proceso controlado de abrasión mecánica, se realiza una exfoliación suave pero efectiva que estimula la producción de colágeno y mejora la circulación sanguínea en la zona tratada.
                    </p>
                    <h6>¿Para qué se utiliza la microdermoabrasión con punta de diamante?</h6>
                    <p>
                        Este tratamiento es ideal para tratar diversos problemas de la piel, como:<br />
                        ✅ Piel opaca, sin brillo y cansada<br />
                        ✅ Arrugas finas y líneas de expresión<br />
                        ✅ Acné y marcas de acné<br />
                        ✅ Manchas solares y pigmentación irregular<br />
                        ✅ Poros dilatados<br />
                        ✅ Piel deshidratada y falta de vitalidad<br />
                    </p>
                    <h6>Beneficios de la Microdermoabrasión con Punta de Diamante</h6>
                    <p>
                        ✨ Elimina células muertas y revela una piel más joven y luminosa<br />
                        ✨ Mejora la textura de la piel y suaviza arrugas finas<br />
                        ✨Promueve la hidratación y aumenta la capacidad de absorción de productos cosméticos<br />
                        ✨ Estimula la producción de colágeno, lo que mejora la firmeza de la piel<br />
                        ✨ Reduce la apariencia de poros dilatados y mejora el tono de la piel<br />
                        ✨ Tratamiento rápido y sin tiempo de inactividad, ideal para quienes buscan resultados inmediatos<br />
                    </p>
                    <h6>¿Cómo funciona el tratamiento?</h6>
                    <p>
                        La microdermoabrasión con punta de diamante se realiza con un dispositivo especializado que cuenta con una punta recubierta de diamantes finos. Esta punta exfolia suavemente las capas superficiales de la piel mientras aspira las impurezas y células muertas. A medida que la punta se mueve sobre la piel, se realiza una exfoliación controlada que mejora la textura y la luminosidad de la piel.
                        El procedimiento es indoloro, no requiere anestesia y la mayoría de los pacientes experimentan solo una ligera sensación de calor o cosquilleo durante la sesión. El tratamiento se puede realizar en el rostro, cuello, escote, manos y otras áreas del cuerpo.
                    </p>
                    <h6>Plan de Tratamiento Recomendado</h6>
                    <p>
                        ⚡ Número de sesiones: De 6 a 8 sesiones para lograr resultados óptimos<br />
                        ⚡ Frecuencia: 1 vez por semana o cada 15 días, dependiendo de las necesidades de la piel<br />
                        ⚡ Mantenimiento: Sesiones mensuales para mantener los resultados a largo plazo<br />
                        ⚡ Consejo: Utiliza cremas hidratantes y protector solar después del tratamiento para proteger la piel y maximizar los resultados
                    <button class="btn-theme-home btn-precios"><a asp-controller="Spanish" asp-action="Precios" class="btn-home-page">Consulta nuestros precios</a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        @await Html.PartialAsync("_HeaderSpanish")
        <div class="mainpagepc">
            <div class="textbodysecondtext">
                <h1>Microdermoabrasión con Punta de Diamante <br />– Exfoliación y Rejuvenecimiento de la Piel</h1>
            </div>
            <div class="mainboxpc">
                <div class="imgcavitspainpc">
                    <img src="~/images/Microdermoabr.jpeg" class="imgmicromainpic" alt="Alternate Text" />
                    <h6>¿Qué es la Microdermoabrasión con Punta de Diamante?</h6>
                    <p>
                        La microdermoabrasión con punta de diamante es un tratamiento estético de exfoliación profunda que utiliza una punta de diamante para eliminar las células muertas de la piel, mejorar la textura y revitalizar el cutis. Este procedimiento no invasivo permite que la piel respire de nuevo y se vea más suave, fresca y luminosa, sin tiempo de inactividad.
                        A través de un proceso controlado de abrasión mecánica, se realiza una exfoliación suave pero efectiva que estimula la producción de colágeno y mejora la circulación sanguínea en la zona tratada.
                    </p>
                    <h6>¿Para qué se utiliza la microdermoabrasión con punta de diamante?</h6>
                    <p>
                        Este tratamiento es ideal para tratar diversos problemas de la piel, como:<br/>
                        ✅ Piel opaca, sin brillo y cansada<br />
                        ✅ Arrugas finas y líneas de expresión<br />
                        ✅ Acné y marcas de acné<br />
                        ✅ Manchas solares y pigmentación irregular<br />
                        ✅ Poros dilatados<br />
                        ✅ Piel deshidratada y falta de vitalidad<br />
                    </p>
                    <h6>Beneficios de la Microdermoabrasión con Punta de Diamante</h6>
                    <p>
                        ✨ Elimina células muertas y revela una piel más joven y luminosa<br />
                        ✨ Mejora la textura de la piel y suaviza arrugas finas<br />
                        ✨Promueve la hidratación y aumenta la capacidad de absorción de productos cosméticos<br />
                        ✨ Estimula la producción de colágeno, lo que mejora la firmeza de la piel<br />
                        ✨ Reduce la apariencia de poros dilatados y mejora el tono de la piel<br />
                        ✨ Tratamiento rápido y sin tiempo de inactividad, ideal para quienes buscan resultados inmediatos<br />
                    </p>
                    <h6>¿Cómo funciona el tratamiento?</h6>
                    <p>
                        La microdermoabrasión con punta de diamante se realiza con un dispositivo especializado que cuenta con una punta recubierta de diamantes finos. Esta punta exfolia suavemente las capas superficiales de la piel mientras aspira las impurezas y células muertas. A medida que la punta se mueve sobre la piel, se realiza una exfoliación controlada que mejora la textura y la luminosidad de la piel.
                        El procedimiento es indoloro, no requiere anestesia y la mayoría de los pacientes experimentan solo una ligera sensación de calor o cosquilleo durante la sesión. El tratamiento se puede realizar en el rostro, cuello, escote, manos y otras áreas del cuerpo.
                    </p>
                    <h6>Plan de Tratamiento Recomendado</h6>
                    <p>
                        ⚡ Número de sesiones: De 6 a 8 sesiones para lograr resultados óptimos<br />
                        ⚡ Frecuencia: 1 vez por semana o cada 15 días, dependiendo de las necesidades de la piel<br />
                        ⚡ Mantenimiento: Sesiones mensuales para mantener los resultados a largo plazo<br />
                        ⚡ Consejo: Utiliza cremas hidratantes y protector solar después del tratamiento para proteger la piel y maximizar los resultados
                    <button class="btn-theme-homepc btn-preciospc"><a asp-controller="Spanish" asp-action="Precios" class="btn-home-page">Consulta nuestros precios</a></button>
                    </p>
                </div>
            </div>
        </div>
    @await Html.PartialAsync("_Footer")
    </div>

