html, body {
        margin: 0;
        padding: 0;
       
        background-color: $theme;
    }

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    box-sizing: border-box;
   
}


.footer {
    
    flex-shrink: 0;
}
.imgfondmain {
    height: 100vh;
}



.content .contentmobilhome .contentmobilmain {
    display: relative;
   
   
}

.text-xs {
    @include text-xs;
}
.text-s  { @include text-xs; }
.text-m  { @include text-m;  }
.text-lg { @include text-lg; }
.text-xl { @include text-xl; }
.text-xxl{ @include text-xxl;}

.d1 { @include d1; }
.d2 { @include d2; }
.d3 { @include d3; }
.d4 { @include d4; }
.d5 { @include d5; }
.d6 { @include d6; }

h1, .h1 { @include h1;}
h2, .h2 { @include h2;}
h3, .h3 { @include h3;}
h4, .h4 { @include h4;}
h5, .h5 { @include h5;}
h6, .h6 { @include h6;}


