h1{
    color:white;
}

.indexpcmain {
    margin-left: 10%;
    margin-right: 10%;

    h3 {
        color: white;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    h5 {
        margin-bottom: 0;
    }

    .btn-theme-homepc{
        margin-top:20px;
    }
}
.indexbottompc{
    margin-bottom:10%;
}