$white: #ffffff;
$black:#000000;


$theme: #feb4d2;
$theme-secondary: #a6c7e7;
$theme-footer: #ff9be5;
$theme-header: #ff9be5;

$theme-alternative: #61d5f3;

$button-primary-theme: #e189e1;
$button-secondary-theme: #61d5f3;