@media (max-width: 768px) {
    header  {
        display: none;
    }
    .homepageall {
        
        footer {
            display: none;
        }
    }
    
    .mainpagepc {
        display: none;
        
    }
    .loggahomepages {
        width: 60%;
    }

    .contentpc{
        display:none;
    }
}



@media (min-width: 768px) {
    .contentmobilmain {
        display: none;
    }
}
@media (min-width: 768px) {
    .contentmobilhome {
        display: none;
    }
}
@mixin md {
    @media(min-width: 768px) {
        @content;
    }

    border: none;
}

@mixin lg {
    @media(min-width: 992px) {
        @content
    }

    border: none;
}

@mixin xl {
    @media(min-width: 1200px) {
        @content
    }

    border: none;
}

@mixin xxl {
    @media(min-width: 1400px) {
        @content
    }

    border: none;
}