@{
    ViewData["Title"] = "LGH Kroppsbehandlingar";
}
<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderSwedishMobile")
    <div class="mainmainbox">
        <div class="textbodysecondtexten">
            <h3>Kroppsbehandlingar</h3>
        </div>

    </div>
</div>
<div class="content">
    @await Html.PartialAsync("_HeaderSwedish")
    <div class="mainpagepc">
        <div class="textbodysecondtexten">
            <h3>Kroppsbehandlingar</h3>

        </div>
    </div>
</div>