@{
    ViewData["Title"] = "LGH Kroppsbehandlingar";
}
<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderKroppsBehandling")
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textbodysecondtext">
                <h4>Kroppsbehandlingar</h4>
            </div>
            <div class="boxemain1corp">
                <div class="boxmain2index">
                    <div class="boxanticelmain">
                        <h6 class="txtmainheadantce">Anticellulitbehandlingar</h6>
                        <div class="box1anticelmain">
                            <div class="anticelbox">
                                <div class="imgbox1">
                                    <img src="~/images/cavitation.jpeg" class="imgcavminimain1" alt="Kavitation" />
                                    <p>Kavitation</p>
                                </div>
                                <h1 class="pluscavmini">+</h1>
                                <div class="imgbox2">
                                    <img src="~/images/radiofrecorp.jpeg" class="imgcavminimain1" alt="Radiofrekvens" />
                                    <p>Kroppsradiofrekvens</p>
                                </div>
                            </div>
                            <h1 class="antiselplus">+</h1>
                            <div class="anticelbox2">
                                <h1 class="pluscavmini">+</h1>
                                <div class="imgbox3">
                                    <img src="~/images/preso.jpg" class="imgcavminimain1" alt="Pressoterapi" />
                                    <p>Pressoterapi</p>
                                </div>
                                <div class="imgbox4">
                                    <img src="~/images/Vauterapia.jpg" class="imgcavminimain1" alt="Vakuumterapi" />
                                    <p>Vakuumterapi</p>
                                </div>
                            </div>
                            <div class="boxbtnanticetxt">
                                <p>Estetiska behandlingar som hjälper till att minska synligheten av celluliter och förbättrar hudens struktur och fasthet...</p>
                                <button class="btn-theme-home btn-anticel">
                                    <a asp-controller="KroppsBehandlingar" asp-action="Cellulitbehandling" class="btn-home-page">Vill du veta mer?</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxmain3index">
                    <div class="box5index">
                        <img src="~/images/radiofrecorp.jpeg" class="imgderm" alt="Kroppsradiofrekvens" />
                        <div class="dermspain">
                            <h6>Kroppsradiofrekvens</h6>
                            <p>En icke-invasiv behandling som stimulerar kollagenproduktionen, förbättrar hudens fasthet och motverkar slapphet...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="RFBehandling" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                    <div class="box6index">
                        <img src="~/images/cavitation.jpeg" class="imgderm" alt="Kavitation" />
                        <div class="dermspain">
                            <h6>Kavitation</h6>
                            <p>Icke-invasiv behandling som använder ultraljud för att bryta ner fettceller och minska kroppsmått...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="Cavitation" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                    <div class="box7index">
                        <img src="~/images/preso.jpg" class="imgderm" alt="Pressoterapi" />
                        <div class="dermspain">
                            <h6>Pressoterapi</h6>
                            <p>Behandling som förbättrar cirkulationen och minskar vätskeansamlingar genom kontrollerat lufttryck...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="Pressoterapi" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    @await Html.PartialAsync("_HeaderSpanish")
    <div class="mainpagepc">
        <div class="textbodysecondtexten">
            <h1>Kroppsbehandlingar</h1>
        </div>
        <div class="mainboxpc">
            <div class="boxemain1corp">
                <div class="textbodysecondtextcorp">
                    <h4>Kroppsbehandlingar</h4>
                </div>
                <div class="boxmain2index">
                    <div class="box4index">
                        <h6>Anticellulitbehandlingar</h6>
                        <div class="box2anticel">
                            <div class="imgbox1">
                                <img src="~/images/cavitation.jpeg" class="imgcavmini" alt="Kavitation" />
                                <p>Kavitation</p>
                            </div>
                            <h1 class="pluscavmini">+</h1>
                            <div class="imgbox2">
                                <img src="~/images/radiofrecorp.jpeg" class="imgcavmini" alt="Kroppsradiofrekvens" />
                                <p>Kroppsradiofrekvens</p>
                            </div>
                            <h1 class="pluscavmini">+</h1>
                            <div class="imgbox3">
                                <img src="~/images/preso.jpg" class="imgcavmini" alt="Pressoterapi" />
                                <p>Pressoterapi</p>
                            </div>
                        </div>
                        <div class="box4anticetxt">
                            <p>Estetiska behandlingar som hjälper till att minska synligheten av celluliter och förbättrar hudens struktur och fasthet...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="Cellulitbehandling" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="boxmain3index">
                    <div class="box5index">
                        <img src="~/images/radiofrecorp.jpeg" class="imgderm" alt="Kroppsradiofrekvens" />
                        <div class="dermspain">
                            <h6>Kroppsradiofrekvens</h6>
                            <p>En icke-invasiv behandling som stimulerar kollagenproduktionen, förbättrar hudens fasthet och motverkar slapphet...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="RFBehandling" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                    <div class="box6index">
                        <img src="~/images/cavitation.jpeg" class="imgderm" alt="Kavitation" />
                        <div class="dermspain">
                            <h6>Kavitation</h6>
                            <p>Icke-invasiv behandling som använder ultraljud för att bryta ner fettceller och minska kroppsmått...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="Cavitation" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                    <div class="box7index">
                        <img src="~/images/preso.jpg" class="imgderm" alt="Pressoterapi" />
                        <div class="dermspain">
                            <h6>Pressoterapi</h6>
                            <p>Behandling som förbättrar cirkulationen och minskar vätskeansamlingar genom kontrollerat lufttryck...</p>
                            <button class="btn-theme-home">
                                <a asp-controller="KroppsBehandlingar" asp-action="Pressoterapi" class="btn-home-page">Vill du veta mer?</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Footer")