.loggamainpage {
    position:absolute;
    left:30%;
    top:10%;
    .loggamain {
        width: 50%;
    }
}
.language-choise{
    position:absolute;
    right:0%;
    
}
.flagsspan{
    width:20%;
}
.flagsswed {
    width: 20%;
}
.flagseng{
    width:20%;
    
}
.textfirtsmain {
    position: absolute;
    top: 38%;
    left: 20%;
}
.boxradfacialpc{
    margin-right:10%;
}
.radiofrpc{
    margin-top:10%;
    margin-bottom:10%;
}
.treatmentsmain {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20%;
    gap: 5px;

    .facialmain {
        display: grid !important;
        h6{
            text-align:center;
        }
    }

    .facialimgmain {
        width: 120px;
        border-radius: 50%;
    }

    .corpimgmain {
        width: 120px;
        border-radius: 50%;
    }
}
.textbodysecondtextpc {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.textmain {
    position: absolute;
    top: 70%;
    left: 10%;
}
.radiofrpch3{
    font-weight:400;
}
.homepagebuttons {
    display: grid;
    position: absolute;
    bottom:0%;
    left:10%;
    
    
}
.mainpagepc {
 .mainboxpc {
        position: static;
        width: 100%;
        max-width: 1500px;
        background-color: $theme-secondary;
        margin: 15px auto;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 5px #999;
        margin-bottom: 2%;
    }
}

.loggahomepc{
   max-height:500px;
   width:100%;
   left:50%;
    
}
.loggahome{
    
    width:100%;
}
.facialcontextopc{
    width:70%;
    margin-top:10%;
    margin-bottom:10%;
    margin-left:20%;
    border-radius:20%;
}