.btn-theme-h {
    text-decoration: none;
    padding: 15px 100px;
    margin: 15px;
    background-color: $button-primary-theme;
    border-radius: 25px;
    color: $white;
    font-size: 20px;
    box-shadow: 0 9px #999;
}
.btn-theme-home {
    display: flex;
    text-decoration: none;
    padding: 1px;
    
    width: 150px;
    height: 25px;
    background-color: $button-primary-theme;
    border-radius: 10px;
    color: $white;
    font-size: 12px;
    box-shadow: 0 2px #999;
    text-decoration: none;
    color: white;
    margin-top:20px;
}
.btn-home-page{
    text-decoration:none;
    color:white;
   
   
}

.btn-theme-home-svmainpage {
    display: flex;
    text-decoration: none;
    padding: 1px;
    margin: 30px;
    width: 50%;
    height: 50%;
    background-color: $button-primary-theme;
    border-radius: 10px;
    color: $white;
    font-size: 10px;
    box-shadow: 0 2px #999;
}