
.main-content {
    padding: 50px;
}

.active{
    background-color:green;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.horizontal-menu {
    display: flex;
    gap: 5%;
    justify-content: center;
    background-color: $theme-header;
    padding: 20px 20px;
    position: relative;
}

.horizontal-menu a {
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    padding: 20px 20px;
}

.horizontal-menu a:hover {
    background-color: $theme;
}

.dropdown2 {
    position: relative;
    padding: 20px 20px;
    font-size: 24px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown2:hover {
    background-color: $theme;
}

.dropdown2 > a {
    color: black;
    text-decoration: none;
}

.dropdown-content2 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: $theme-secondary;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100px; /* optional: ensures dropdown has some width */
}

.dropdown-content2 a {
    position: relative;
    color: black;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-content2 a:hover {
    background-color: $theme;
    color: white;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}
