@{
    ViewData["Title"] = "LGH Body Treatments ";
}
<div class="container">
    <div class="content contentmobilhome">
        <div class="loggamainpages">
            <img src="~/images/loggaliz.png" class="loggahomepages" alt="Logga LGH" />
            <div class="texthomefacial">
                <h6 class="texthomefacial">Aestetic Medicin</h6>
            </div>
        </div>
        <a class="menubar" onclick="toggleDropdown()">
            <i id="menuIcon" class="fa-solid fa-bars"></i>
        </a>

        <div class="dropdown-content" id="dropdownMenu">
            <a asp-controller="English" asp-action="Index">Home</a>
            <a asp-controller="BodyEng" asp-action="Index">Body Treatments</a>
            <a asp-controller="FacialEng" asp-action="Index">Facial Treatments</a>
        </div>
        <div class="imgfondohomebody">
            <img src="~/images/fondomain.png" class="imgfondbody" alt="Alternate Text" />
        </div>
        <div class="textbodysecondtexten">
            <h3>Body Treatments</h3>
        </div>

    </div>
</div>