@{
    ViewData["Title"] = "LGH Estetica avanzada";
}

<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderSwedishMobile")
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textfacialsecondtextfac">
                <h4>Ansiktsbehandlingar</h4>
            </div>
            <div class="boxmain1index">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>Dermapen är en apparat som använder mikronålar för att stimulera kollagenproduktionen och förbättra hudens kvalitet...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Mikrodermabrasion</h6>
                        <p>Mikrodermabrasion med diamantslipning är en icke-invasiv ansiktsbehandling som varsamt exfolierar huden och förbättrar dess struktur, ton och lyster.</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrekvens för ansiktet</h6>
                        <p>Radiofrekvens är en icke-invasiv ansiktsbehandling som stimulerar kollagenproduktionen, stramar upp huden och minskar rynkor...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="textbodysecondtextcorp">
                <h4>Kroppsbehandlingar</h4>
            </div>
            <div class="boxmain2index">
                <div class="box4index">
                    <h6>Anti-cellulitbehandlingar</h6>
                    <div class="box2anticel2">
                        <div class="imgbox1">
                            <img src="~/images/cavitation.jpeg" class="imgcavmini" alt="Alternate Text" />
                            <p class="imgantictxt">Kavitation</p>
                        </div>
                        <div class="imgbox2">
                            <img src="~/images/radiofrecorp.jpeg" class="imgcavmini" alt="Alternate Text" />
                            <p class="imgantictxt">Radiofrekvens<br />för kroppen</p>
                        </div>
                        <div class="imgbox3">
                            <img src="~/images/preso.jpg" class="imgcavmini" alt="Alternate Text" />
                            <p class="imgantictxt">Pressoterapi</p>
                        </div>
                    </div>
                    <div class="box4anticetxt">
                        <p>Estetiska behandlingar som bidrar till att minska cellulitens synlighet, samt förbättrar hudens struktur och fasthet...</p>
                        <button class="btn-theme-home btn-antic">
                            <a asp-controller="TratamientosCorporales" asp-action="Anticelulitis" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="boxmain3index">
                <div class="box5index">
                    <img src="~/images/radiofrecorp.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrekvens för kroppen</h6>
                        <p>En icke-invasiv estetisk behandling som stimulerar kollagenproduktionen, förbättrar hudens fasthet och motverkar slapp hud...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosCorporales" asp-action="RadiofrecuenciaCorporal" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box6index">
                    <img src="~/images/cavitation.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Kavitation</h6>
                        <p>En icke-invasiv behandling som använder ultraljud för att bryta ner fettceller och minska kroppsomfång...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosCorporales" asp-action="Cavitacion" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box7index">
                    <img src="~/images/preso.jpg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Pressoterapi</h6>
                        <p>En behandling som förbättrar blodcirkulationen och minskar vätskeansamling genom kontrollerat lufttryck...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="TratamientosCorporales" asp-action="Presoterapia" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>