
    <div class="content contentmobilhome">
        @await Html.PartialAsync("_HeaderSwedishMobile")
        <div class="textbodytitlesp">
            <h1>Estetisk Medicin</h1>
        </div>
</div>
    <div class="content">
        @await Html.PartialAsync("_HeaderSwedish")
        <div class="mainpagepc">
            <h1>Hola</h1>
        </div>
    </div>
