
<footer class="footer">
	<div class="footer-content">
		<p>&copy; 2025 LGH-Estetica. All rights reserved.</p>
		<div class="social-links">
			<a href="https://wa.me/1234567890" class="socialpic" target="_blank" title="WhatsApp">
				<i class="fa-brands fa-whatsapp" width="50%"></i>
			</a>
			<a href="https://www.instagram.com/yourhandle" target="_blank" class="socialpic" title="Instagram">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a href="tel:+43666348848" class="socialpic" title="Call Us">
				<i class="fa-solid fa-phone"></i>
			</a>
			<a href="#" class="socialpic" target="_blank" title="Email us">
				<i class="fa-solid fa-envelope"></i>
			</a>
		</div>
	</div>
</footer>

