<div class="loggamainpages">
    <img src="~/images/loggasvg.svg" class="loggahomepages" alt="Logga LGH" />
    <div class="texthomefacial">
        <h6 class="texthomefaciales">Medicina Estetica</h6>
    </div>
</div>
<div class="imgfondohomebody">
    <img src="~/images/fondo-main-mobile 1.svg" class="imgfondbody" alt="Alternate Text" />
</div>
<a class="menubar" onclick="toggleDropdown()">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
</a>

<div class="dropdown-content" id="dropdownMenu">
    <a asp-controller="Home" asp-action="Index">Idiomas</a>
    <a asp-controller="Spanish" asp-action="Index">Home</a>
    <a asp-controller="TratamientosFaciales" asp-action="Index">Tratamientos Faciales</a>
    <a asp-controller="TratamientosCorporales" asp-action="Index">Tratamientos Corporales</a>
    <a asp-controller="Spanish" asp-action="Contact">Contact</a>
    <a  asp-controller="Spanish" asp-action="Precios">Precios</a>
</div>
