<div class="loggamainpagemobil">
    <img src="~/images/loggaliz.png" class="loggahomepagemobil" alt="Logga LGH" />
</div>
<div class="txthomefaciales">
    <h2>Estetisk Medicin</h2>
</div>
<div class="imgfondohomebody">
    <img src="~/images/fondo-main-mobile 1.svg" class="imgfondbody" alt="Alternate Text" />
</div>
<a class="menubar" onclick="toggleDropdown()">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
</a>

<div class="dropdown-content" id="dropdownMenu">
    <a asp-controller="Swedish" asp-action="Index">Home</a>
    <a asp-controller="KroppsBehandlingar" asp-action="Cavitation">Cavitation</a>
    <a asp-controller="KroppsBehandlingar" asp-action="Pressoterapi">Pressoterapi</a>
    <a asp-controller="KroppsBehandlingar" asp-action="RFBehandling">RF Behandling</a>
    <a asp-controller="KroppsBehandlingar" asp-action="Cellulitbehandling">Cellulitbehandling</a>
    <a asp-controller="AnsiktsBehandlingar" asp-action="Index">Ansiktsbehandling</a>
    <a asp-controller="Swedish" asp-action="Kontakta">Kontakta oss</a>
    <a asp-controller="Swedish" asp-action="Priser">Priser</a>
</div>