<div class="loggamainpages">
    <img src="~/images/loggasvg.svg" class="loggahomepages" alt="Logga LGH" />
</div>
<div class="texthomefacial">
    <h4 class="texthomefaciales">Medicina Estetica</h4>
</div>
<div class="imgfondohomebody">
    <img src="~/images/fondo-main-mobile 1.svg" class="imgfondbody" alt="Alternate Text" />
</div>
<a class="menubar" onclick="toggleDropdown()">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
</a>

<div class="dropdown-content" id="dropdownMenu">
    <a asp-controller="Spanish" asp-action="Index">Home</a>
    <a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial">Microdermabrasion Facial</a>
    <a asp-controller="TratamientosFaciales" asp-action="DermapenFacial">Dermapen</a>
    <a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial">Radiofrequencia Facial</a>
    <a asp-controller="TratamientosCorporales" asp-action="Index">Tratamientos Corporales</a>
    <a asp-controller="Spanish" asp-action="Contact">Contact</a>
    <a asp-controller="Spanish" asp-action="Precios">Precios</a>
</div>
