<div class="loggamainpages">
    <img src="~/images/loggasvg.svg" class="loggahomepages" alt="Logga LGH" />
</div>
<div class="texthomefacial">
    <h4 class="texthomefaciales">Medicina Estetica</h4>
</div>
<div class="imgfondohomebody">
    <img src="~/images/fondo-main-mobile 1.svg" class="imgfondbody" alt="Alternate Text" />
</div>
<a class="menubar" onclick="toggleDropdown()">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
</a>

<div class="dropdown-content" id="dropdownMenu">
    <a asp-controller="English" asp-action="Index">Home</a>
    <a asp-controller="BodyTreatments" asp-action="AntiCelluliteTreatment">Anti-Cellulite Treatment</a>
    <a asp-controller="BodyTreatments" asp-action="CavitationTreatment">Cavitation Treatment</a>
    <a asp-controller="BodyTreatments" asp-action="Pressotherapy">Pressotherapy</a>
    <a asp-controller="BodyTreatments" asp-action="RadiofrequencyBody">Radiofrequency Body</a>
    <a asp-controller="FacialTreatments" asp-action="Index">Facial Treatments</a>

</div>
