<div class="loggamainpagemobil">
    <img src="~/images/loggaliz.png" class="loggahomepagemobil" alt="Logga LGH" />
</div>
<div class="txthomefaciales">
    <h2>Aesthetic Medicine</h2>
</div>
<div class="imgfondohomebody">
    <img src="~/images/fondo-main-mobile 1.svg" class="imgfondbody" alt="Aesthetic Medicine" />
</div>
<a class="menubar" onclick="toggleDropdown()">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
</a>

<div class="dropdown-content" id="dropdownMenu">
    <a asp-controller="English" asp-action="Index">Home</a>
    <a asp-controller="BodyTreatments" asp-action="AntiCelluliteTreatment">Anti-Cellulite Treatment</a>
    <a asp-controller="BodyTreatments" asp-action="CavitationTreatment">Cavitation Treatment</a>
    <a asp-controller="BodyTreatments" asp-action="Pressotherapy">Pressotherapy</a>
    <a asp-controller="BodyTreatments" asp-action="RadiofrequencyBody">Radiofrequency Body</a>
    <a asp-controller="FacialTreatments" asp-action="Index">Facial Treatments</a>

</div>
