@{
    ViewData["Title"] = "Ansiktsbehandlingar ";
}
<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderAnsiktsBehandling")
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textbodysecondtext">
                <h3>Ansiktsbehandlingar</h3>
            </div>
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Dermapen" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>Dermapen är en enhet som använder mikronålar för att stimulera kollagen och förbättra huden...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="Microneedling" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Mikrodermabrasion" />
                    <div class="dermspain">
                        <h6>Mikrodermabrasion</h6>
                        <p>Mikrodermabrasion med diamantspets: en icke-invasiv ansiktsbehandling som varsamt exfolierar huden och förbättrar dess struktur, ton och lyster.</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="Mikrodermabrasion" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Radiofrekvens Ansikte" />
                    <div class="dermspain">
                        <h6>Radiofrekvens för ansiktet</h6>
                        <p>Radiofrekvens för ansiktet: en icke-invasiv behandling som stimulerar kollagen, stramar upp huden och minskar rynkor...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="RFLifting" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    @await Html.PartialAsync("_HeaderSwedish")
    <div class="mainpagepc">
        <div class="textbodysecondtextpc">
            <h1>Ansiktsbehandlingar</h1>
        </div>
        <div class="mainbox">
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Dermapen" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>Dermapen är en enhet som använder mikronålar för att stimulera kollagen och förbättra huden...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="Microneedling" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Mikrodermabrasion" />
                    <div class="dermspain">
                        <h6>Mikrodermabrasion</h6>
                        <p>Mikrodermabrasion med diamantspets: en icke-invasiv ansiktsbehandling som varsamt exfolierar huden och förbättrar dess struktur, ton och lyster.</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="Mikrodermabrasion" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Radiofrekvens Ansikte" />
                    <div class="dermspain">
                        <h6>Radiofrekvens för ansiktet</h6>
                        <p>Radiofrekvens för ansiktet: en icke-invasiv behandling som stimulerar kollagen, stramar upp huden och minskar rynkor...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="AnsiktsBehandlingar" asp-action="RFLifting" class="btn-home-page">Vill du veta mer?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Footer")
</div>


