@{
    ViewData["Title"] = "LGH Facial Treatments ";
}

    <div class="content contentmobilhome">
        @await Html.PartialAsync("_HeaderAnsiktsBehandling")
        <div class="textbodysecondtext">
            <h2>Ansiksbehandlingar</h2>
        </div>
        <div class="mainmainbox">
       
           
            
       </div>
    </div>
 
    <div class="content">
        @await Html.PartialAsync("_HeaderSwedish")
        <div class="mainpagepc">
            <div class="textbodyfirsttextswepc">
                <h1>Ansiksbehandlingar</h1>
            </div>
            
            
            
        </div>
    @await Html.PartialAsync("_Footer")
    </div>


