@{
    ViewData["Title"] = "LGH Tratamientos Corporales ";
}
<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderTratamientosCorporal")
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textbodysecondtext">
                <h4>Tratamientos Corporales</h4>
            </div>
            <div class="boxemain1corp">
                <div class="boxmain2index">
                    <div class="boxanticelmain">
                        <h6 class="txtmainheadantce">Tratamientos Anticelulitis</h6>
                        <div class="box1anticelmain">
                            <div class="anticelbox">
                                <div class="imgbox1">
                                    <img src="~/images/cavitation.jpeg" class="imgcavminimain1" alt="Cavitación" />
                                    <p>Cavitación</p>
                                </div>
                                <div class="imgbox2">
                                    <img src="~/images/radiofrecorp.jpeg" class="imgcavminimain1" alt="Radiofrecuencia Corporal" />
                                    <p>Radiofrecuencia Corporal</p>
                                </div>
                            </div>
                            <h1 class="antiselplus">+</h1>
                            <div class="anticelbox2">
                                <div class="imgbox3">
                                    <img src="~/images/preso.jpg" class="imgcavminimain1" alt="Presopterapia" />
                                    <p>Presopterapia</p>
                                </div>
                                <div class="imgbox4">
                                    <img src="~/images/Vauterapia.jpg" class="imgcavminimain1" alt="Vacuterapia" />
                                    <p>Vacuterapia</p>
                                </div>
                            </div>
                            <div class="boxbtnanticetxt">
                                <p>procedimientos estéticos que ayudan a reducir la apariencia de la celulitis, mejorando la textura y firmeza de la piel...</p>
                                <button class="btn-theme-home btn-anticel"><a asp-controller="TratamientosCorporales" asp-action="Anticelulitis" class="btn-home-page">¿Quieres saber más?</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxmain3index">
                    <div class="box5index">
                        <img src="~/images/radiofrecorp.jpeg" class="imgderm" alt="Alternate Text" />
                        <div class="dermspain">
                            <h6>Radiofrecuencia Corporal</h6>
                            <p>tratamiento estético que estimula el colágeno, mejora la firmeza de la piel y combate la flacidez...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="RadiofrecuenciaCorporal" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                    <div class="box6index">
                        <img src="~/images/cavitation.jpeg" class="imgderm" alt="Alternate Text" />
                        <div class="dermspain">
                            <h6>Cavitación</h6>
                            <p>Tratamiento no invasivo que utiliza ultrasonido para romper células de grasa y reducir medidas corporales...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="Cavitacion" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                    <div class="box7index">
                        <img src="~/images/preso.jpg" class="imgderm" alt="Alternate Text" />
                        <div class="dermspain">
                            <h6>Presoterapia</h6>
                            <p>Tratamiento que mejora la circulación y reduce la retención de líquidos mediante presión de aire controlada...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="Presoterapia" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>
<div class="content">
    @await Html.PartialAsync("_HeaderSpanish")
    <div class="mainpagepc">
        <div class="textbodysecondtextenpc">
            <h1>Tratmientos Corporales</h1>
       </div>
        <div class="mainboxpc">
            <div class="boxemain1corp">
                <div class="textbodysecondtextcorp">
                    <h4>Tratamientos Corporales</h4>
                </div>
                <div class="boxmain2index">
                    <div class="box4index">
                        <h6>Tratamientos Anticelulitis</h6>
                        <div class="box2anticel">
                            <div class="imgbox1">
                                <img src="~/images/cavitation.jpeg" class="imgcavmini" alt="Cavitación" />
                                <p>Cavitación</p>
                            </div>
                            <h1 class="pluscavmini">+</h1>
                            <div class="imgbox2">
                                <img src="~/images/radiofrecorp.jpeg" class="imgcavmini" alt="Radiofrecuencia Corporal<" />
                                <p>Radiofrecuencia Corporal</p>
                            </div>
                            <h1 class="pluscavmini">+</h1>
                            <div class="imgbox3">
                                <img src="~/images/preso.jpg" class="imgcavmini" alt="Dermapen " />
                                <p>Dermapen </p>
                            </div>
                        </div>
                        <div class="box4anticetxt">
                            <p>procedimientos estéticos que ayudan a reducir la apariencia de la celulitis, mejorando la textura y firmeza de la piel...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="Anticelulitis" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                </div>
                <div class="boxmain3index">
                    <div class="box5index">
                        <img src="~/images/radiofrecorp.jpeg" class="imgderm" alt="Radiofrecuencia Corporal" />
                        <div class="dermspain">
                            <h6>Radiofrecuencia Corporal</h6>
                            <p>tratamiento estético que estimula el colágeno, mejora la firmeza de la piel y combate la flacidez...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="RadiofrecuenciaCorporal" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>

                    </div>
                    <div class="box6index">
                        <img src="~/images/cavitation.jpeg" class="imgderm" alt="Cavitación" />
                        <div class="dermspain">
                            <h6>Cavitación</h6>
                            <p>Tratamiento no invasivo que utiliza ultrasonido para romper células de grasa y reducir medidas corporales...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="Cavitacion" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                    <div class="box7index">
                        <img src="~/images/preso.jpg" class="imgderm" alt="Presoterapia" />
                        <div class="dermspain">
                            <h6>Presoterapia</h6>
                            <p>Tratamiento que mejora la circulación y reduce la retención de líquidos mediante presión de aire controlada...</p>
                            <button class="btn-theme-home"><a asp-controller="TratamientosCorporales" asp-action="Presoterapia" class="btn-home-page">¿Quieres saber más?</a></button>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
@await Html.PartialAsync("_Footer")