@{
    ViewData["Title"] = "LGH Treatments Prices ";
}

<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderEnglishMobile")
    <div class="textbodysecondtextprice">
        <h1>Prices</h1>
    </div>
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="pricetags">
                <h3>Facial and Body Treatments<br /> (Single Sessions)</h3>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Diamond Tip Microdermabrasion Facial Cleansing:45€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Dermapen Facial:60€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency:55€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency with Vitamins:65€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Pressotherapy:15€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitation + Radiofrequency + Pressotherapy: 
                    <br />1 Session: 50€
                </h4>

                <h3>Packages (5 or 10 sessions)</h3>
                <h2>Facial</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency (includes medical-grade vitamins):<br />
                    ▸ 5 sessions:250€ 
                </h4>
                <h2>Body</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitation + Radiofrequency + Pressotherapy:<br />
                    ▸ 5 sessions:200€ <br />
                    ▸ 10 sessions:350€
                </h4>
                <h2>Pressotherapy</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Stimulate your circulatory and lymphatic system<br />
                    ▸ 5 sessions:60€ <br />
                    ▸ 10 sessions:100€ 
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="content">
    @await Html.PartialAsync("_HeaderEnglish")
    <div class="mainpagepc">
        <div class="textbodysecondtext">
            <h1>Prices</h1>
        </div>
        <div class="mainboxpc">
            <div class="pricetags">
                <h3>Facial and Body Treatments<br /> (Single Sessions)</h3>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Diamond Tip Microdermabrasion Facial Cleansing:45€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Dermapen Facial:60€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency:55€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency with Vitamins:65€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Pressotherapy:15€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitation + Radiofrequency + Pressotherapy: 1 Session:50€
                </h4>

                <h3>Packages (5 or 10 sessions)</h3>
                <h2>Facial</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Facial Radiofrequency (includes medical-grade vitamins):<br />
                    ▸ 5 sessions:250€ 
                </h4>
                <h2>Body</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitation + Radiofrequency + Pressotherapy:<br />
                    ▸ 5 sessions:200€ <br />
                    ▸ 10 sessions:350€ 
                </h4>
                <h2>Pressotherapy</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Stimulate your circulatory and lymphatic system<br />
                    ▸ 5 sessions:60€ <br />
                    ▸ 10 sessions:100€
                </h4>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Footer")