
    <div class="content contentmobilhome">
        @await Html.PartialAsync("_HeaderEnglishMobile")
        <div class="textbodytitlesp">
            <h1>Prices</h1>
        </div>
    </div>
    <div class="content">
        @await Html.PartialAsync("_HeaderEnglish")
        <div class="mainpagepc">
            <h1>Hola</h1>
        </div>

    </div>
