
    <div class="content contentmobilhome">
        @await Html.PartialAsync("_HeaderSpanishMobile")
        <div class="textbodytitlesp">
            <h1>Contact</h1>
        </div>
</div>
    <div class="content">
        @await Html.PartialAsync("_HeaderSpanishMobile")
        <div class="mainpagepc">
            <h1>Hola</h1>
        </div>
    </div>

