@{
    ViewData["Title"] = "LGH Estetica avanzada";
}
<div class="container">
    <div class="content contentmobilhome">
        <div class="loggamainhome">
            <img src="~/images/loggaliz.png" class="loggahome" alt="Logga LGH" />
        </div>
        <a class="menubar" onclick="toggleDropdown()">
            <i id="menuIcon" class="fa-solid fa-bars"></i>
        </a>

        <div class="dropdown-content" id="dropdownMenu">
            <a asp-controller="Spanish" asp-action="Index">Home</a>
            <a asp-controller="BodyEsp" asp-action="Index">Body Treatments</a>
            <a asp-controller="FacialEsp" asp-action="Index">Facial Treatments</a>
        </div>
        <div class="imgfondohomebody">
            <img src="~/images/fondomain.png" class="imgfondbody" alt="Alternate Text" />
        </div>
        <div class="textbodytitlesp">
            <h1>Medicina Estetica</h1>
        </div>
      
        <div class="boxessp1">
            <div class="textfacialsecondtext">
                <h3>Tratamientos Faciales</h3>
            </div>
            <div class="box1">
                <img src="~/images/dermapen.jpeg" width="110px" height="70px" class="imgderm" alt="Alternate Text" />
                <p>Dermapen</p>
                <button class="btn-theme-home">Quieres saber mas</button>
            </div>
            <div class="box2">
                <img src="~/images/Microdermoabr.jpeg" width="110px" height="70px" class="imgmicro" alt="Alternate Text" />
                <p>Microam</p>
                <button class="btn-theme-home">Quieres saber mas</button>
            </div>
            <div class="box3">
                <img src="~/images/Radiocila.jpg" width="110px" height="70px" class="imgderm" alt="Alternate Text" />
                <p>Dermapen </p>
                <button class="btn-theme-home">Quieres saber mas</button>
            </div>
        </div>
        <div class="boxessp2">
            <div class="textbodysecondtext">
                <h3>Tratamientos Corporales</h3>
            </div>
            <div class="box4">
                <div class="imgbox1">
                    <img src="~/images/cavitation.jpeg" width="50px" height="30px" class="imgcavmini" alt="Alternate Text" />
                    <p>Dermapen </p>
                </div>
                <div class="imgbox2">
                    <img src="~/images/radiofrecorp.jpeg" width="50px" height="30px" class="imgradiomini" alt="Alternate Text" />
                    <p>Dermapen </p>
                </div>
                <div class="imgbox3">
                    <img src="~/images/preso.jpg" width="50px" height="30px" class="imgpresomini" alt="Alternate Text" />
                    <p>Dermapen </p>
                </div>
            </div>
        </div>
        <div class="boxessp3">
            <div class="box5">
                <img src="~/images/radiofrecorp.jpeg" width="110px" height="70px" class="imgradiocorp" alt="Alternate Text" />
                <p>Dermapen </p>
            </div>
            <div class="box6">
                <img src="~/images/cavitation.jpeg" width="110px" height="70px" class="imgdcavit" alt="Alternate Text" />
                <p>Dermapen </p>
            </div>
            <div class="box7">
                <img src="~/images/preso.jpg" width="110px" height="70px" class="imgpresoterapia" alt="Alternate Text" />
                <p>Dermapen </p>
                <button class="btn-theme-home">Quieres saber mas</button>
            </div>
        </div>
        <div class="textbodysecondtext">
            <h3>Tratamientos Corporales</h3>
        </div>
    </div>
</div>