@{
    ViewData["Title"] = "LGH Estetica avanzada";
}

<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderSpanishMobile")
    <div class="mainmainbox">
        <div class="textbodytitlesp">
            <h3>Medicina Estetica</h3>
        </div>
        <div class="mainbox">
            <div class="textfacialsecondtextfac">
                <h4>Tratamientos Faciales</h4>
            </div>
            <div class="boxmain1index">
              
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>El dermapen es un dispositivo que usa microagujas para estimular el colágeno y mejorar la piel...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                 </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Alternate Text" />
                   <div class="dermspain">
                        <h6>Microdermoabrasión</h6>
                        <p>Microdermoabrasión con punta de diamante: tratamiento facial no invasivo que exfolia suavemente la piel, mejorando textura, tono y luminosidad.</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                    

                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg"  class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Facial</h6>
                        <p>Radiofrecuencia Facial: tratamiento no invasivo que estimula el colágeno, reafirma la piel y reduce arrugas...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                    
                </div>
            </div>
            <div class="textbodysecondtextcorp">
                <h4>Tratamientos Corporales</h4>
            </div>
            <div class="boxmain2index">               
                <div class="box4index">
                    <h6>Tratamientos Anticelulitis</h6>
                    <div class="box2anticel">
                    <div class="imgbox1">
                        <img src="~/images/cavitation.jpeg"  class="imgcavmini" alt="Alternate Text" />
                        <p>Cavitación</p>
                    </div>
                    <h1 class="pluscavmini">+</h1>
                    <div class="imgbox2">
                            <img src="~/images/radiofrecorp.jpeg" class="imgcavmini" alt="Alternate Text" />
                        <p>Radiofrecuencia Corporal</p>
                    </div>
                        <h1 class="pluscavmini">+</h1>
                    <div class="imgbox3">
                            <img src="~/images/preso.jpg" class="imgcavmini" alt="Alternate Text" />
                        <p>Dermapen </p>
                    </div>
                    
                </div>
                    <div class="box4anticetxt">
                        <p>procedimientos estéticos que ayudan a reducir la apariencia de la celulitis, mejorando la textura y firmeza de la piel...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
            </div>
            <div class="boxmain3index">
                <div class="box5index">
                    <img src="~/images/radiofrecorp.jpeg"  class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Corporal</h6>
                        <p>tratamiento estético que estimula el colágeno, mejora la firmeza de la piel y combate la flacidez...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                
                </div>
                <div class="box6index">
                    <img src="~/images/cavitation.jpeg" class="imgderm" alt="Alternate Text" />
                   <div class="dermspain">
                        <h6>Cavitación</h6>
                        <p>Tratamiento no invasivo que utiliza ultrasonido para romper células de grasa y reducir medidas corporales...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
                <div class="box7index">
                    <img src="~/images/preso.jpg" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Presoterapia</h6>
                        <p>Tratamiento que mejora la circulación y reduce la retención de líquidos mediante presión de aire controlada...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    @await Html.PartialAsync("_HeaderSwedish")
    <div class="mainpagepc">
        <div class="textbodytitlesp">
            <h1>Medicina Estetica</h1>
        </div>
        <div class="mainbox">
            <div class="boxessp1">
                <div class="textfacialsecondtext">
                    <h4>Tratamientos Faciales</h4>
                </div>
                <div class="box1sv">
                    <img src="~/images/dermapen.jpeg" width="100px" height="100px" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>El dermapen es un dispositivo que usa microagujas para estimular el colágeno y mejorar la piel...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>

                </div>
                <div class="box2sv">

                    <div class="dermspain">
                        <img src="~/images/Microdermoabr.jpeg" width="100px" height="100px" class="imgmicro" alt="Alternate Text" />
                        <h6>Microdermoabrasión con Punta de Diamante </h6>
                        <p>Microdermoabrasión con punta de diamante: tratamiento facial no invasivo que exfolia suavemente la piel, mejorando textura, tono y luminosidad.</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="MicrodermoabrasionFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>


                </div>
                <div class="box3sv">
                    <img src="~/images/Radiocila.jpg" width="100px" height="100px" class="imgderm" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Facial </h6>
                        <p>Radiofrecuencia Facial: tratamiento no invasivo que estimula el colágeno, reafirma la piel y reduce arrugas...</p>
                    </div>
                    <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="RadiofrecuenciaFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                </div>
            </div>
            <div class="boxessp2">
                <div class="textbodysecondtext">
                    <h4>Tratamientos Corporales</h4>
                </div>
                <div class="box4">
                    <h6>Tratamientos Anticelulitis</h6>
                    <div class="imgbox1">
                        <img src="~/images/cavitation.jpeg" width="50px" height="30px" class="imgcavmini" alt="Alternate Text" />
                        <p>Cavitación</p>
                    </div>
                    <div class="imgbox2">
                        <img src="~/images/radiofrecorp.jpeg" width="50px" height="30px" class="imgradiomini" alt="Alternate Text" />
                        <p>Radiofrecuencia Corporal</p>
                    </div>
                    <div class="imgbox3">
                        <img src="~/images/preso.jpg" width="50px" height="30px" class="imgpresomini" alt="Alternate Text" />
                        <p>Dermapen </p>
                    </div>
                </div>
                <p>procedimientos estéticos que ayudan a reducir la apariencia de la celulitis, mejorando la textura y firmeza de la piel...</p>
                <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
            </div>
            <div class="boxessp3">
                <div class="box5sv">
                    <img src="~/images/radiofrecorp.jpeg" width="100px" height="100px" class="imgradiocorp" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Radiofrecuencia Corporal</h6>
                        <p>tratamiento estético que estimula el colágeno, mejora la firmeza de la piel y combate la flacidez...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>

                </div>
                <div class="box6sv">
                    <img src="~/images/cavitation.jpeg" width="100px" height="100px" class="imgdcavit" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Cavitación</h6>
                        <p>Tratamiento no invasivo que utiliza ultrasonido para romper células de grasa y reducir medidas corporales...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
                <div class="box7sv">
                    <img src="~/images/preso.jpg" width="100px" height="100px" class="imgpresoterapia" alt="Alternate Text" />
                    <div class="dermspain">
                        <h6>Presoterapia</h6>
                        <p>Tratamiento que mejora la circulación y reduce la retención de líquidos mediante presión de aire controlada...</p>
                        <button class="btn-theme-home"><a asp-controller="TratamientosFaciales" asp-action="DermapenFacial" class="btn-home-page">¿Quieres saber más?</a></button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    @await Html.PartialAsync("_Footer")
</div>

