@{
    ViewData["Title"] = "Precios";
}
<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderSpanishMobile")
    <div class="textbodysecondtextprice">
        <h1>Precios</h1>
    </div>
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="pricetags">
                <h3>Tratamientos Faciales y Corporales<br/> (Sesiones individuales)</h3>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Limpieza facial microdermoabrasión con Punta de Diamante:45€<br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Demapen Facial:60€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Radiofrecuencia Facial:55€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Radiofrecuencia Facial con Vitaminas:65€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Presoterapia:15€ <br />

                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitación + Radiofrecuencia + Presoterapia:<br/> 1 Sesión:50€ 
                </h4>
                <h3>Bonos (5 ó 10 sesiones)</h3>
                <h2>Faciales</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Radiofrecuencia Facial (incluye vitaminas médicas):<br/>
                    ▸ 5 sesiones: 250€
                </h4>
                <h2>Corporales</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Cavitación + Radiofrecuencia + Presoterapia:<br/>
                    ▸ 5 sesiones:200€<br/> 
                    ▸ 10 sesiones: 350€
                </h4>
                <h2>Presoterapia</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>  Activa tu sistema circulatorio y linfático<br/>
                    ▸ 5 sesiones: 60€<br/>
                    ▸ 10 sesiones: 100€
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="content">
    @await Html.PartialAsync("_HeaderSpanish")
    <div class="mainpagepc">
        <div class="textbodysecondtext">
            <h1>Precios</h1>
        </div>
        <div class="mainboxpc">
            <div class="pricetags">
                <h3>Tratamientos Faciales y Corporales<br /> (Sesiones individuales)</h3>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Limpieza facial microdermoabrasión con Punta de Diamante:45€<br />
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Demapen Facial:60€ <br />
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Radiofrecuencia Facial:55€ <br />
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Radiofrecuencia Facial con Vitaminas:65€ <br />
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Presoterapia:15€ <br />
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Cavitación + Radiofrecuencia + Presoterapia: 1 Sesión: 50€
                </h4>
                <h3>Bonos (5 ó 10 sesiones)</h3>
                <h2>Faciales</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>Radiofrecuencia Facial (incluye vitaminas médicas):
                    ▸ 5 sesiones: 250€
                </h4>
                <h2>Corporales</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i> Cavitación + Radiofrecuencia + Presoterapia:
                    ▸ 5 sesiones: 200€<br/>
                    ▸ 10 sesiones: 350€
                </h4>
                <h2>Presoterapia</h2>
                <h4>
                    <i class="fas fa-star" style="color: gold; font-size: 20px;"></i>  Activa tu sistema circulatorio y linfático
                    ▸ 5 sesiones: 60€<br/>
                    ▸ 10 sesiones: 100€
                </h4>
            </div>
        </div>
    </div>   
</div>
@await Html.PartialAsync("_Footer")

