@{
    ViewData["Title"] = "LGH Estetica avanzada";
}
<div class="contmob">
    <div class="homepageall">
        <div class="content contentmobilmain">
            <div class="loggamainpage">
                <img src="~/images/loggaliz.png" class="loggamain" alt="Logga LGH" />
            </div>
            <div class="imgfondo">
                <img src="~/images/fondomejorado_home_mobile.png" class="imgfondmain" alt="Alternate Text" />
            </div>
            <div class="textfirtsmain">
                <h2>Medicina Estetica</h2>
                <h2>Aestetic Medicin</h2>
            </div>
            <div class="treatmentsmain">
                <div class="facialmain">
                    <h6>Tratamientos<br/> Faciales</h6>
                    <img src="~/images/Aplicacion-dermapen-Recuperado.png" class="facialimgmain" alt="Alternate Text" />
                </div>
                <div class="corporalmain">
                    <h6>Tratamientos <br /> Corporales</h6>
                    <img src="~/images/cav.jpg" class="corpimgmain" alt="Alternate Text" />
                </div>
            </div>
     
            <div class="homepagebuttons">
                <a class="btn-theme-h" asp-controller="Spanish" asp-action="index">Para Español</a>
                <a class="btn-theme-h" asp-controller="English" asp-action="index">For English</a>
                <a class="btn-theme-h" asp-controller="Swedish" asp-action="index">För Svenska</a>
            </div>
        </div>
   </div>
</div>
   <div class="content">
       
       <div class="mainpagepc">
            <h1>Welcome to home page</h1>

       </div>
   </div>

