@{
    ViewData["Title"] = "LGH Facial Treatments ";
}


<div class="content contentmobilhome">
    @await Html.PartialAsync("_HeaderFacialTreatments")
    <div class="mainmainbox">
        <div class="mainbox">
            <div class="textbodysecondtext">
                <h3>Facial Treatments</h3>
            </div>
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Dermapen" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>Dermapen is a device that uses microneedles to stimulate collagen and improve the skin...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="Microneedling" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Microdermabrasion" />
                    <div class="dermspain">
                        <h6>Microdermabrasion</h6>
                        <p>Diamond-tip microdermabrasion: a non-invasive facial treatment that gently exfoliates the skin, improving texture, tone, and brightness.</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="MicrodermoabrasionFacial" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Facial Radiofrequency" />
                    <div class="dermspain">
                        <h6>Radiofrequency Facial Treatment</h6>
                        <p>Radiofrequency Facial Treatment: a non-invasive treatment that stimulates collagen, firms the skin, and reduces wrinkles...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="RadioFrequencyFacial" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    @await Html.PartialAsync("_HeaderEnglish")
    <div class="mainpagepc">
        <div class="textbodysecondtextpc">
            <h1>Facial Treatments</h1>
        </div>
        <div class="mainbox">
            <div class="boxessp1">
                <div class="box1index">
                    <img src="~/images/dermapen.jpeg" class="imgderm" alt="Dermapen" />
                    <div class="dermspain">
                        <h6>Dermapen</h6>
                        <p>Dermapen is a device that uses microneedles to stimulate collagen and improve the skin...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="Microneedling" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
                <div class="box2index">
                    <img src="~/images/Microdermoabr.jpeg" class="imgderm1" alt="Microdermabrasion" />
                    <div class="dermspain">
                        <h6>Microdermabrasion</h6>
                        <p>Diamond-tip microdermabrasion: a non-invasive facial treatment that gently exfoliates the skin, improving texture, tone, and brightness.</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="MicrodermoabrasionFacial" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
                <div class="box3index">
                    <img src="~/images/Radiocila.jpg" class="imgderm" alt="Facial Radiofrequency" />
                    <div class="dermspain">
                        <h6>Radiofrequency Facial Treatment</h6>
                        <p>Radiofrequency Facial Treatment: a non-invasive treatment that stimulates collagen, firms the skin, and reduces wrinkles...</p>
                        <button class="btn-theme-home">
                            <a asp-controller="FacialTreatments" asp-action="RadioFrequencyFacial" class="btn-home-page">Want to know more?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Footer")